<div class="card text-center text-white bg-dark">
  <div class="card-header">
    Info 6150
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title"></h5>
    <p class="card-text"></p> -->
    <a href="https://www.facebook.com" class="fa fa-facebook" data-toggle="popover" data-trigger="hover" data-placement="top"
      title="Share on:" data-content="Facebook"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram" data-toggle="popover" data-trigger="hover" data-placement="top"
      title="Share on:" data-content="Instagram"></a>
    <a href="https://www.youtube.com" class="fa fa-youtube" data-toggle="popover" data-trigger="hover" data-placement="top" title="Share on:"
      data-content="Youtube"></a>
    <a href="https://www.twitter.com" class="fa fa-twitter" data-toggle="popover" data-trigger="hover" data-placement="top" title="Share on:"
      data-content="Twitter"></a>
    <a href="https://www.google.com" class="fa fa-google" data-toggle="popover" data-trigger="hover" data-placement="top" title="Share on:"
      data-content="Google"></a>
  </div>
  <div class="card-footer text-muted">
    {{now|date:'yyyy-MM-dd hh:mm:ss'}}
  </div>
</div>