<div class="page-header">
  <h1>Bid</h1>
  servId：{{servId}}
</div>
<br/>

<!-- view 列表 -->
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let track of results | async">
      <img src="{{track.thumbnail}}">
      <a target="_blank" href="{{track.link}}">{{ track.track }}
      </a>
    </li>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>

        <th class="col-md-1 text-center"> Bid ID</th>
        <th class="col-md-1 text-center"> Status</th>
        <th class="col-md-1 text-center"> Delivery Date</th>
        <th class="col-md-1 text-center"> Bid Amount</th>
        <th class="col-md-5 text-center"> Description</th>
        <th class="col-md-1 text-center">Service ID</th>
        <th class="col-md-1 text-center">Startup ID</th>

        <th class="col-md-* text-center">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of bids" class="text-center">
        <!-- <td> -->
        <!-- <button *ngIf="fund.ideaStatus == 'new'" type="button" class="btn btn-danger" (click)="disableIdea(idea,disableModal)">Disable </button> -->
        <!-- <button *ngIf="cate.cateStatus as 'disabled'" type="button" class="btn btn-danger" (click)="disableCate(cate,disableModal)">Enable </button> -->
        <!-- </td> -->
        <td>{{bid.bidId}}</td>
        <td>{{bid.bidStatus}}</td>
        <td>{{bid.deliverydate}}</td>
        <td>{{bid.bidAmount}}</td>
        <td>{{bid.bidDesc}}</td>
        <td>{{bid.servId}}</td>
        <td>{{bid.suId}}</td>

        <td>
          <!-- <button *ngIf="isStartup()" type="button" class="btn btn-warning fa fa-edit" (click)="createBid(service,buyModal)">Bid </button> -->
          <button *ngIf="isCreator() && !isSelected(bid)" type="button" class="btn btn-book fa fa-edit" (click)="selectBid(bid)">Select</button>
          <button *ngIf="isSelected(bid)" type="button" class="btn btn-primary fa fa-edit" (click)="viewReport(bid)">View Report</button>

          <button *ngIf="isStartup()" type="button" class="btn btn-book fa fa-edit" (click)="writeReport(bid, reportModal)">Write Report</button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br/>
<br/>